body {font-family: Verdana; }

header{background-color: #AFAFAF; color: #FF5F00; text-align: center;}
table {
    border-collapse: collapse;
    box-shadow: 10px 10px 5px grey;
}
table, th, td {
    border: 1px solid black;
    padding: 10px;
    border-collapse: collapse;
}
th {background-color: #76B900; color: white}
nav {margin-top: 50px; margin-bottom: 50px;}
nav a {background-color: #0082D1; color: white; font-weight: bold; border-radius: 5px; padding: 5px; border: 1px solid grey;}
nav a:link{text-decoration: none;}
nav a:hover{background-color: #AFAFAF; color: #FF5F00;}
section {margin-left: 10%; margin-right: 10%}     /*Habe mich entschieden, nicht nur das Table-Element "einzurücken, sondern auch die Überschrift der Tabelle*/
footer {background-color: #FF5F00; text-align: center; color: black; padding: 20px;}
button {border-radius: 7px; background-color: #4CAF50; border: none; color: white; padding: 10px 20px; text-align: center; display: inline-block; font-size: 14px;
}
button>a {text-decoration: none; color: white;}

